<div class="bg-black w-screen h-screen flex items-center justify-center" id="containerBlack">
  <div
    class="bg-orange-500 p-4 mx-3 my-11 flex flex-col items-center justify-center w-[calc(100%-24px)] h-[calc(100%-88px)] aos-init aos-animate"
    id="containerOrange">

    <!-- Icona con effetto animato -->
    <i
      class="fa-solid fa-circle-radiation text-black text-[468px] mb-[60px] animate__animated animate__pulse animate__infinite animate__slower"
      id="iconRadiation"
      style="filter: drop-shadow(0px 0px 20px orange);">
    </i>

    <!-- Bottone ENTRA con routing a Login -->
    <button
      routerLink="/problems"
      class="bg-black text-orange-500 w-[320px] h-[50px] rounded flex items-center justify-center text-[40px] font-bold hover:text-orange-300 hover:bg-gray-900 transition-colors duration-300 hover:shadow-[0px_0px_10px_#ff6600] animate__animated animate__bounceIn hvr-float"
      id="enterButton">
      ENTRA
    </button>

    <button
      routerLink="/registrazione"
      class="bg-black text-orange-500 w-[320px] h-[50px] rounded flex items-center justify-center text-[40px] font-bold hover:text-orange-300 hover:bg-gray-900 transition-colors duration-300 hover:shadow-[0px_0px_10px_#ff6600] animate__animated animate__bounceIn hvr-float"
      id="enterButton">
      REGISTRATI
    </button>
  </div>
</div>

